:root {
  font-family: Ubuntu, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html, body {
  margin: 0;
  padding: 0,
}

body {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf');
}